@{
    ViewBag.Title = "Home Page";
}


<div class="row">
    <div class="col-md-4">
        <h2>Cotizacion Dolar</h2>
        <input readonly="readonly" value="@ViewData["Dolar"]" />
    </div>
    <div class="col-md-4">
        <h2>Cotizacion Euro</h2>
        <input readonly="readonly" value="@ViewData["Euro"]" />
    </div>
    <div class="col-md-4">
        <h2>Cotizacion Real</h2>
        <input readonly="readonly" value="@ViewData["Real"]" />
    </div>
</div>